/* -----------
Fonts
------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,300;0,500;0,600;0,700;0,800;1,900&family=Viga&display=swap');


/* ------
Global Css-------- */
:root{
    --main-color:  #c3897c;
    --second-color: #ffffff;
    --three-color:#86a4eb;
    --four-color: #407c92f8;
    --icon-mode-light: #c3897cfa;
    --icon-mode-dark: #407c92f6;
    --bg-box-light:#f5c37821;
    --bg-box-dark:#78e9f521;
    --stars-color-light: #e07c6db5;
    --stars-color-dark: #90cbf3;
    --color-1: #e91e63;
    --color-2: #f5ae10;
    --color-3: #09d68c;
    --bg-dark: #2b2c2f;
    --main-to-dark-color: var(--main-color);
    --dark-to-main-color: var(--bg-dark);
    --shadow-black-100: 0 5px 15px rgba(0,0,0,0.1);
    --shadow-black-300: 0 5px 15px rgba(0,0,0,0.3);
    --black-900: #000000;
    --black-400: #555555;
    --black-100: #f7f7f7;
    --black-000: #ffffff;
    --black-alpha-100: rgba(0,0,0,0.05);
    --black-before: rgba(0,0,0,0.6);
    
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    background-image: url('../img/LangitA.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    line-height: 1.5;
}
body::before{
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0,0,0,0.4);
    opacity: 0.8;
}
body.dark{
    background-image: url('../img/LangitB.png');
    background-attachment: fixed;
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    --main-color: var(--four-color);
    --black-100: var(--bg-dark);
    --black-000: var(--bg-dark);
    --main-to-dark-color: var(--bg-dark);
    --dark-to-main-color: var(--main-color);
    --shadow-black-100: var(--shadow-black-300);
    --black-alpha-100: rgba(255,255,255,0.05);
    --black-900: #ffffff;
    --black-400: #bbbbbb;
    --bg-box-light: var(--bg-box-dark);
    --icon-mode-dark: var(--icon-mode-light);
    --stars-color-light: var(--stars-color-dark);
}
body.dark::before{
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0,0,0,0.4);
    opacity: 0.8;
}

.down-page{
    background-color: var(--black-before);
}

*{
    margin: 0;
    padding: 0;
    outline-color: none!important;
}

img{
    max-width: 100%;
    vertical-align: middle;
}

ul{
    list-style: none;
}
.btn-1{
    background-color: #ffffff;
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    color: var(--main-color);
    font-size: 16px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    box-shadow: var(--shadow-black-300);
    font-weight: 500;
}
.btn-1:focus{
    box-shadow: var(--shadow-black-300);
}
.btn-1:hover{
    color: #ffffff;
    background-color: var(--main-color);
}

.btn-2{
    background-color: var(--main-color);
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    color: #ffffff;
    font-size: 16px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    box-shadow: var(--shadow-black-100);
    font-weight: 500;
}
.btn-2:focus{
    box-shadow: var(--shadow-black-100);
}
.btn-2:hover{
    color:  var(--main-color);
    background-color: #ffffff;
}

@keyframes spin_01{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes bounceTop_01 {
    0%,100%{
        transform: translateY(-30px);
    }
    50%{
        transform: translateY(0px);
    }
}
@keyframes pulse_01 {
    0%{
        transform: scale(0.94);
        box-shadow: 0 0 0 0 rgba(255,255,255,0.7);
    }
    70%{
        transform: scale(1);
        box-shadow: 0 0 0 12px rgba(255,255,255,0);
    }
    100%{
        transform: scale(0.94);
        box-shadow: 0 0 0 0 rgba(255,255,255,0);
    }
}
@keyframes oomInOut_01 {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
    
}
.effect-wrap .effect{
    position: absolute;
    z-index: -1;
}
.effect-wrap .effect-1{
    left: 20%;
    top: 20%;
    font-size: 20px;
    color: var(--color-2);
    animation: spin_01 5s linear infinite;
}
.effect-wrap .effect-2{
    right: 5%;
    top: 10%;
    font-size: 25px;
    color: rgba(255,255,255,0.5);
    animation: spin_01 7s linear infinite;
}
.effect-wrap .effect-3{
    left: 5%;
    bottom: 30%;
    font-size: 25px;
    color: var(--color-3);
    animation: bounceTop_01 3s linear infinite;
}

.section-padding{
    padding: 80px 0;
}

.section-title{
    margin-bottom: 60px;
}

.section-title h2{
    font-size: 40px;
    color: #ffffff;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    margin: 0;
}
.section-title h2 span{
    color: var(--main-color);
}
.owl-carousel .owl-dots{
    padding: 0 15px;
    text-align: center;
    margin-top: 20px;
}
.owl-carousel button.owl-dot{
    height: 6px;
    width: 24px;
    background-color: #dddddd;
    display: inline-block;
    margin: 0 4px;
}
.owl-carousel button.owl-dot.active{
    background-color: var(--main-color);
}

/* ------------------------------
Video
--------------------------------- */
/* Video */
/* #video{
    top: -70px;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    position: fixed;
    padding-bottom: 70px;
    transform: translateY(70px);
}
#video-wrap{
    top: -70px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    position: fixed;
    padding-bottom: 70px;
    transform: translateY(70px);
}
.video-content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center right;
}

video {
    display: inline-block;
    vertical-align: baseline;
} */


/* ----------
Navbar
----------- */

.navbar{
    background-color: transparent;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.navbar.navbar-shrink{
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    background-color: var(--main-color);
    padding: 17px 0;
}

.navbar > .container{
    padding: 0 15px;
}

.navbar-brand{
    font-size:  30px;
    color: #ffffff;
    font-weight: 500;
    text-transform: capitalize;
}

.navbar .nav-item {
    margin-left: 40px;
}

.navbar .nav-item .nav-link{
    color: #ffffff;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 0;
    position: relative;
}
.navbar .nav-item .nav-link::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    background-color: #ffffff;
    transition: all 0.5s ease;
    transform: scale(0);
}
.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before{
    transform: scale(1);
}


/* ---------
Home Section
--------- */

.home{
    min-height: 100vh;
    padding: 150px 0;
    border-radius:  0 0 200px 0;
    position: relative;
    z-index:1;
    overflow-x: hidden;
}
.home-text h1{
    font-size: 45px;
    font-weight: 700;
    color: #ffffff;
    margin: 0 0 20px;
}
.home-text p{
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    margin: 0;
    font-weight: 300;
}
.home .home-btn{
    margin-top: 40px;
}
.home .home-btn .video-play-btn{
    margin-left: 30px;
    height: 50px;
    width: 50px;
    padding: 0;
    font-size: 16px;
    animation: pulse_01 2s ease infinite;
}
.home .home-btn .video-play-btn:hover{
    animation: none;
    box-shadow:var(--shadow-black-300) ;
}
.home .home-btn .video-play-btn i{
    line-height:50px ;
}
.home-img img {
    max-width: 250px;
    width: 100%;
    box-shadow: var(--shadow-black-100);
    border-radius: 32px;
}
.home-img{
    position: relative;
}
.home-img .circle{
    position: absolute;
    z-index: 1;
    height: 400px;
    width: 400px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home-img .circle::before{
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: rgba(255,255,255,0.4);
    border-radius: 50%;
    left: 30px;
    top: 30px;
    transform-origin: 170px 170px;
    animation: spin_01 10s linear infinite;
}

/* --------------------------------
Scroll Down
------------------------------------- */
.first-section {
    background-image: url('https://images.pexels.com/photos/696680/pexels-photo-696680.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
    z-index: 111;
  }
  .ctn-title {
    -webkit-background-clip: te xt;
    background-image: linear-gradient(
                        45deg,
                        rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)
                      );
    color: rgba(0, 0, 0, 0);
    font: bold 1.5em 'Lobster', sans-serif;
    left: 50%;
    letter-spacing: 3px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 111;
  }
  
  .ctn-icon {
    animation: jump-arrow 2.5s infinite;
    bottom: 115px;
    color: #ffffff;
    display: block;
    font-size: 2.5em;
    height: 1.5em;
    left: 50%;
    line-height: 1.5em;
    position: absolute;
    text-align: center;
    transform: translatex(-50%);
    width: 1.5em;  
    z-index: 111;
  }
  
  .ctn-icon:hover,
  .ctn-icon:focus,
  .ctn-icon:active {
    color: rgba(0, 0, 0, 0.7);
  }
  
  @keyframes jump-arrow {
      0%,
      20%,
      55%,
      80%,
      100% {
        transform: translate3d(-50%, 0, 0);
      }
  
      40% {
          transform: translate3d(-50%, -15px, 0);
      }
  
      70% {
      transform: translate3d(-50%, -10px, 0);
      }
  
      90% {
          transform: translate3d(-50%, -5px, 0);
      }
  }

/* ---------------------------
Video Popup
----------------------------- */
.video-popup{
    padding: 30px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1999;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}
.video-popup-open{
    opacity: 1;
    visibility: visible;
}
.video-popup-inner{
    width: 100%;
    max-width: 900px;
    position: relative;
}
.video-popup .video-popup-close{
    position: absolute;
    right: 0;
    top: -30px;
    height: 30px;
    width: 30px;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    color: #ffffff;
}
.video-popup .iframe-box{
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
}
.video-popup #player-1{
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* ---------------
Features Section
------------------- */

.features .features-item{
    box-shadow: var(--shadow-black-100);
    margin: 15px;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.features .features-item::before,
.features .features-item::after{
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    transition: all 0.5s ease;
    opacity: 0;
}
.features .features-item::before{
    height: 20px;
    width: 20px;
    background-color: var(--color-1);
    left: -20px;
    top: 40px;
}
.features .features-item:hover::before{
    left: 10px;
    opacity: 1;
}
.features .features-item::after{
    height: 30px;
    width: 30px;
    background-color: var(--color-2);
    right: -30px;
    top: 80%;
}
.features .features-item:hover::after{
    opacity: 1;
    right: -15px;
}
.features .features-item .icon{
    height: 60px;
    width: 60px;
    margin: 0 auto 30px;
    text-align: center;
    font-size: 30px;
    color: var(--main-color);
    position: relative;
    z-index: 1;
    transition: all 0.5s ease;
}
.features .features-item .icon::before{
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    transition: all 0.5s ease;
    z-index: -1;
    opacity: 0;
}

.features .features-item:hover .icon{
    color: #ffffff;
    font-size: 20px;
}

.features .features-item:hover .icon::before{
    left: 0;
    border-radius: 50%;
    opacity: 1;
}

.features .features-item .icon i{
    line-height: 60px;
}
.features .features-item h3{
    font-size: 22px;
    margin: 0 0 20px;
    color: var(--black-900);
    font-weight: 500;
    text-transform: capitalize;
}
.features .features-item p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    color: var(--black-400);
    margin: 0 0 15px;
}

/*------------------
Fun Facts Section
---------------------*/

.fun-facts .section-title{
    margin-bottom: 20px;
}
.fun-facts .section-title h2{
    text-align: left;
}
.fun-facts-img img{
    max-width: 250px;
    width: 100%;
    box-shadow: var(--shadow-black-100);
    border-radius: 32px;
    animation: bounceTop_01 3s ease infinite;
}
.fun-facts-text p{
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    margin: 0 0 15px;
    font-weight: 300;
}
.fun-facts-item{
    padding: 30px;
    text-align: center;
    box-shadow: var(--shadow-black-100);
    border-radius: 10px;
    margin-top: 30px;
}
.fun-facts-item h3{
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
    margin: 0 0 6px;
}
.fun-facts-text h4{
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  margin: 0 0 6px;
}
.fun-facts-item span{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0;
    line-height: 26px;
    display: block;
    color: #ffffff;
}
/* .fun-fact-item.style-1{
    background-color: var(--color-1);
}

.fun-fact-item.style-2{
    background-color: var(--color-2);
}

.fun-fact-item.style-3{
    background-color: var(--color-3);
}

.fun-fact-item.style-4{
    background-color: var(--main-color);
} */

/* -------------------
App Screenshots Section
---------------------- */

.screenshot-item{
    margin: 15px;
    
}

.screenshot-item img{
    width: 100%;
    max-width: 250px;
    display: block;
    margin: auto;
}

/* -----------------
Mint Now
-------------------- */
.app-download{
    position: relative;
    z-index: 1;
}

.app-download .section-title h2{
    color: #ffffff;
}

.app-download-item{
    background-color: var(--bg-box-light);
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: var(--shadow-black-100);
}
.app-download-item i{
    font-size: 30px;
    color: var(--main-color);
    display: inline-block;
}

.app-download-item h3{
    font-size: 22px;
    color: #ffffff;
    margin: 20px 0;
    font-weight: 500;
    text-transform: capitalize;
}

.app-download-item p{
    font-size: 16px;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 30px;
    line-height: 26px;
}

/* ----------------
How It Works Section
------------------- */
.how-it-works-item{
    padding: 30px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.how-it-works-item.line-right::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 50%;
    top: 60px;
    background-color: var(--main-color);
    z-index: -1;
}

.how-it-works-item .step{
    display: inline-block;
    height: 60px;
    width: 60px;
    background-color: var(--main-color);
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    color: #ffffff;
    font-weight: 500;
    margin: 0 0 15px;
}
.how-it-works-item h3{
    margin: 20px 0;
    font-size: 22px;
    font-weight: 500;
    color: var(--black-900);
    text-transform: capitalize;
}
.how-it-works-item p{
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    color: var(--black-400);
    line-height: 26px;
}


/* ---------------------------------------
Roadmap / Timeline
------------------------------------------ */
@import "https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700";

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}



.project-name {
  text-align: center;
  margin: 100px 0;
  color: #ffffff;
  font-weight: 700;
}



.timeline-container {
  max-width: 1200px;
  margin: 0 auto;
}

#timeline .timeline-item:after, #timeline .timeline-item:before {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

#timeline {
  width: 100%;
  margin: 30px auto;
  position: relative;
  padding: 0 20px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#timeline:before {
  content: "";
  width: 3px;
  height: 100%;
  background: var(--main-color);
  left: 50%;
  top: 0;
  position: absolute;
}
#timeline:after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}
#timeline .timeline-item {
  margin-bottom: 50px;
  position: relative;
}
#timeline .timeline-item .timeline-icon {
  background: var(--main-color);
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  margin-left: -23px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#timeline .timeline-item .timeline-icon svg, #timeline .timeline-item .timeline-icon .fa {
  position: relative;
  top: 13px;
  left: 14px;
  font-size: 24px;
  color: #fff;
}
#timeline .timeline-item .timeline-content {
  width: 45%;
  background: var(--bg-box-light);
  padding: 20px;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#timeline .timeline-item .timeline-content h2 {
  padding: 15px;
  background: var(--main-color);
  color: #fff;
  margin: -20px -20px 0 -20px;
  font-weight: 300;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  font-size: 22px;
}
#timeline .timeline-item .timeline-content p {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
}

#timeline .timeline-item .timeline-content .time-stamp {
    color: #ffffff;
}
#timeline .timeline-item .timeline-content:before {
  content: '';
  position: absolute;
  left: 45%;
  top: 20px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid var(--main-color);
}
#timeline .timeline-item .timeline-content.right {
  float: right;
}
#timeline .timeline-item .timeline-content.right:before {
  content: '';
  right: 45%;
  left: inherit;
  border-left: 0;
  border-right: 7px solid var(--main-color);
}


@media screen and (max-width: 768px) {
  #timeline {
    margin: 30px;
    padding: 0px;
    width: 90%;
  }
  #timeline:before {
    left: 0;
  }
  #timeline .timeline-item .timeline-content {
    width: 90%;
    float: right;
  }
  #timeline .timeline-item .timeline-content:before, #timeline .timeline-item .timeline-content.right:before {
    left: 10%;
    margin-left: -6px;
    border-left: 0;
    border-right: 7px solid var(--main-color);
  }
  #timeline .timeline-item .timeline-icon {
    left: 0;
  }
}

/* How Build */

.build-right .how-build-text{
  position: relative;
  width: 450px;
  height: 500px;
  max-width: 100%;
  margin-bottom: 120px;
  padding: 50px 50px;
  box-shadow: var(--shadow-black-100);
  background-color: var(--bg-box-light);
}
.build-right .how-build-text h2{
  color: #ffffff;
}
.build-right .how-build-text p{
  font-size: 16px;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 30px;
    line-height: 26px;
}
 .sticky-image-1{
    position: sticky;
    top: 200px;
    width: 450px;
    height: 500px;
    margin-bottom: 100px;
    margin-left: -200px;
    object-fit: cover;
    transition: .5s;
    transform: scaleX(-1);
}
.sticky-image-1 img{
  border: 0;
    vertical-align: left;
    display: inline-block;
    max-width: 100%;
}

.sticky-image-2{
  position: sticky;
  top: 200px;
  width: 450px;
  height: 500px;
  margin-bottom: 100px;
  margin-left: 100px;
  object-fit: cover;
  transition: .5s;
}
.sticky-image-2 img{
border: 0;
  vertical-align: left;
  display: inline-block;
  max-width: 100%;
}
/* .how-build .section-title{
  margin-bottom: 20px;
}
.how-build .section-title h2{
  text-align: left;
}
.how-build-img img{
  max-width: 250px;
  width: 100%;
  box-shadow: var(--shadow-black-100);
  border-radius: 32px;
}
.how-build-text p{
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin: 0 0 15px;
  font-weight: 300;
}
.how-build-item{
  padding: 30px;
  text-align: center;
  box-shadow: var(--shadow-black-100);
  border-radius: 10px;
  margin-top: 30px;
}
.how-build-item h3{
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
  margin: 0 0 6px;
} */


/* Animation CSS */

/* icon animation */
.timeline-icon.is-hidden {
  visibility: hidden;
}
.timeline-icon.animate-it {
  visibility: visible;
   -webkit-animation: bounce-1 0.6s;
   -moz-animation: bounce-1 0.6s;
    animation: bounce-1 0.6s;
}

/* content block animation */
.timeline-content.is-hidden {
  visibility: hidden;
}
.timeline-content.animate-it {
  visibility: visible;
   -webkit-animation: bounce-2 0.6s;
   -moz-animation: bounce-2 0.6s;
    animation: bounce-2 0.6s;
  }
@media only screen and (min-width: 769px) {
  /* Inverse bounce effect on even content blocks */
.timeline-content.right.animate-it {
    -webkit-animation: bounce-2-inverse 0.6s;
    -moz-animation: bounce-2-inverse 0.6s;
    animation: bounce-2-inverse 0.6s;
  }
}
@media only screen and (max-width: 768px) {
  /* Inverse bounce effect on all content blocks */
.timeline-content.animate-it, .timeline-content.right.animate-it {
    -webkit-animation: bounce-2-inverse 0.6s;
    -moz-animation: bounce-2-inverse 0.6s;
    animation: bounce-2-inverse 0.6s;
  }
}




/* ---------------------------------------
Pricing Section
------------------------------------------ */

.pricing-plan{
    box-shadow: var(--shadow-black-100);
    border-radius: 10px;
    background-color: var(--bg-box-light);
}

.pricing-plan .pricing-header{
    padding: 20px 30px;
    border-bottom: 1px solid var(--black-alpha-100);
}
.pricing-plan .pricing-header h3{
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0;
}
.pricing-plan .pricing-price{
    padding: 40px 30px;
    display: flex;
    justify-content: center;
}
.pricing-plan .pricing-price .currency{
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    margin-right: 5px;
    align-self: flex-start;
}
.pricing-plan .pricing-price .price{
    font-size: 50px;
    font-weight: 500;
    color: #ffffff;
}
.pricing-plan .pricing-body{
    padding: 0 30px;
}
.pricing-plan .pricing-body ul li{
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    padding: 25px 0px 20px 30px;
    border-bottom: 1px solid var(--black-alpha-100);
    line-height: 26px;
    position: relative;
}
.pricing-plan .pricing-body ul li:last-child{
    border-bottom: none;
}
.pricing-plan .pricing-body ul li i{
    color: #ffffff;
    position: absolute;
    left: 0;
    top: 12px;
}
.pricing-plan .pricing-footer{
    padding: 20px 30px 30px;
    text-align: center;
}

/* ----------------------------
Team Section
------------------------------ */
.team{
    position: relative;
    z-index: 1;
}

.team .section-title h2{
    color: #ffffff;
}
.team-item{
    padding: 30px;
    text-align: center;
}
.team-item i{
    font-size: 30px;
    color: var(--main-color);
    display: inline-block;
}

.team-item h3{
    font-size: 22px;
    color: #ffffff;
    margin: 20px 0;
    font-weight: 500;
    text-transform: capitalize;
}
.team-item img{
    width: 150px;
    border-radius: 50%;
}
.team-item span{
    font-size: 17px;
    color: #ffffff;
    margin: 20px 0;
    font-weight: 500;
    text-transform: capitalize;
}
.team-item p{
    font-size: 16px;
    color: var(--black-400);
    font-weight: 300;
    margin: 0 0 30px;
    line-height: 26px;
}

/* --------------
Faq Section
----------------- */
/* 
.faq .accordion-item:not(:last-child){
    margin-bottom: 20px;
}
.faq .accordion-header{
    box-shadow: var(--shadow-black-300);
    padding: 20px 50px 20px 30px;
    transition: all 0.5 ease;
    cursor: pointer;
    position: relative;
    background-color: var(--bg-box-light);
}
.faq .accordion-header::before{
    content: '\f067';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    color: var(--black-400);
    position: absolute;
    height: 30px;
    width: 30px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease;
}
.faq .accordion-header:not(.collapsed)::before{
    content: '\f068';
    color: #ffffff;
}
.faq .accordion-header:not(.collapsed){
    background-color: var(--main-color);
    box-shadow: none;
}
.faq .accordion-header h3{
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    margin: 0;
    transition: all 0.5 ease;
}
.faq .accordion-header:not(.collapsed) h3{
    color: #ffffff;
}
.faq .accordion-body{
    padding: 20px 30px;
    background-color: var(--bg-box-light);
}
.faq .accordion-body p{
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
    line-height: 26px;
    margin: 0;
} */

/* --------------------------------------------
Footer
---------------------------------------------- */
.footer{
    background-color: var(--main-color);
    padding: 50px 0 0;
}
.footer-col h3{
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    margin: 0 0 25px;
    text-transform: capitalize;
}
.footer-col p{
    font-size: 16px;
    color: rgba(255,255,255,0.9);
    font-weight: 300;
    line-height: 26px;
    margin: 0;
}
.footer-col ul{
    margin: 0;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    color: rgba(255,255,255,0.9);
    font-weight: 300;
    display: block;
    text-transform: capitalize;
    transition: all 0.5s ease;
    text-decoration: none;
}
.footer-col ul li a:hover{
    padding-left: 5px;
}
.footer .copyright-text{
    padding: 20px 0;
    text-align: center;
    font-size: 16px;
    color: rgba(255,255,255,0.9);
    font-weight: 300;
    margin: 50px 0 0;
    border-top: 1px solid rgba(255,255,255,0.2);
}

/* -------------------------------------
Toogle Theme - Light and Dark Mode
---------------------------------------- */
.toggle-theme{
    position: fixed;
    right: 4%;
    bottom: 4%;
    height: 40px;
    width: 40px;
    background-color: var(--icon-mode-dark);
    z-index: 2200;
    color: #ffffff;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: var(--shadow-black-300);
    font-size: 16px;
    text-align: center;
}
.toggle-theme i{
    line-height: 40px;
}

/* -----------------------------------------
Animation Start
--------------------------------------------- */

  .stars {
    position: fixed;
    top: -600px;
    right: -310px;
    width: 100%;
    height: 200%;
    transform: rotate(-45deg);
    z-index: -1;
  }

  .stars-2{
    position: fixed;
    top: -700px;
    left: 700px;
    width: 200%;
    transform: rotate(-45deg);
    z-index: -1;
  }

  .star {
    --star-color: var(--stars-color-light);
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
  }

  .stars-2 .star {
    --star-color: var(--stars-color-light);
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
  }
  
  /* .star {
    --star-color: var(--main-color);
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
  } */
  @media screen and (max-width: 750px) {
    .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
    }
  }
  .star:nth-child(1) {
    --star-tail-length: 5.45em;
    --top-offset: 54.4vh;
    --fall-duration: 6.275s;
    --fall-delay: 2.106s;
  }
  .star:nth-child(2) {
    --star-tail-length: 5.21em;
    --top-offset: 10.59vh;
    --fall-duration: 7.165s;
    --fall-delay: 6.493s;
  }
  .star:nth-child(3) {
    --star-tail-length: 5.38em;
    --top-offset: 29.69vh;
    --fall-duration: 9.583s;
    --fall-delay: 9.486s;
  }
  .star:nth-child(4) {
    --star-tail-length: 5.9em;
    --top-offset: 65.97vh;
    --fall-duration: 7.901s;
    --fall-delay: 2.296s;
  }
  .star:nth-child(5) {
    --star-tail-length: 7.36em;
    --top-offset: 3.69vh;
    --fall-duration: 9.681s;
    --fall-delay: 6.467s;
  }
  .star:nth-child(6) {
    --star-tail-length: 7.24em;
    --top-offset: 78.06vh;
    --fall-duration: 11.858s;
    --fall-delay: 9.973s;
  }
  .star:nth-child(7) {
    --star-tail-length: 7.44em;
    --top-offset: 93.61vh;
    --fall-duration: 10.601s;
    --fall-delay: 0.091s;
  }
  .star:nth-child(8) {
    --star-tail-length: 7.04em;
    --top-offset: 33.74vh;
    --fall-duration: 8.983s;
    --fall-delay: 7.497s;
  }
  .star:nth-child(9) {
    --star-tail-length: 6.65em;
    --top-offset: 53.3vh;
    --fall-duration: 8.498s;
    --fall-delay: 8.553s;
  }
  .star:nth-child(10) {
    --star-tail-length: 5.67em;
    --top-offset: 57.41vh;
    --fall-duration: 6.815s;
    --fall-delay: 7.8s;
  }
  .star:nth-child(11) {
    --star-tail-length: 6.86em;
    --top-offset: 87.96vh;
    --fall-duration: 11.2s;
    --fall-delay: 9.648s;
  }
  .star:nth-child(12) {
    --star-tail-length: 6.87em;
    --top-offset: 9.49vh;
    --fall-duration: 6.483s;
    --fall-delay: 2.698s;
  }
  .star:nth-child(13) {
    --star-tail-length: 6.14em;
    --top-offset: 17.12vh;
    --fall-duration: 9.428s;
    --fall-delay: 4.135s;
  }
  .star:nth-child(14) {
    --star-tail-length: 5.99em;
    --top-offset: 77.1vh;
    --fall-duration: 8.763s;
    --fall-delay: 6.496s;
  }
  .star:nth-child(15) {
    --star-tail-length: 5.35em;
    --top-offset: 58.56vh;
    --fall-duration: 7.053s;
    --fall-delay: 3.07s;
  }
  .star:nth-child(16) {
    --star-tail-length: 7.4em;
    --top-offset: 74.49vh;
    --fall-duration: 6.345s;
    --fall-delay: 8.816s;
  }
  .star:nth-child(17) {
    --star-tail-length: 7.38em;
    --top-offset: 21.53vh;
    --fall-duration: 9.874s;
    --fall-delay: 6.975s;
  }
  .star:nth-child(18) {
    --star-tail-length: 6.32em;
    --top-offset: 57.74vh;
    --fall-duration: 10.21s;
    --fall-delay: 4.664s;
  }
  .star:nth-child(19) {
    --star-tail-length: 7.26em;
    --top-offset: 5.32vh;
    --fall-duration: 10.579s;
    --fall-delay: 3.838s;
  }
  .star:nth-child(20) {
    --star-tail-length: 7.35em;
    --top-offset: 8.74vh;
    --fall-duration: 10.96s;
    --fall-delay: 2.253s;
  }
  .star:nth-child(21) {
    --star-tail-length: 6.29em;
    --top-offset: 23.54vh;
    --fall-duration: 7.183s;
    --fall-delay: 0.973s;
  }
  .star:nth-child(22) {
    --star-tail-length: 5.63em;
    --top-offset: 83.47vh;
    --fall-duration: 11.585s;
    --fall-delay: 8.54s;
  }
  .star:nth-child(23) {
    --star-tail-length: 6.74em;
    --top-offset: 21.21vh;
    --fall-duration: 9.443s;
    --fall-delay: 3.647s;
  }
  .star:nth-child(24) {
    --star-tail-length: 7.15em;
    --top-offset: 93.03vh;
    --fall-duration: 8.969s;
    --fall-delay: 4.829s;
  }
  .star:nth-child(25) {
    --star-tail-length: 5.28em;
    --top-offset: 86.4vh;
    --fall-duration: 11.93s;
    --fall-delay: 6.413s;
  }
  .star:nth-child(26) {
    --star-tail-length: 5.89em;
    --top-offset: 77.54vh;
    --fall-duration: 9.307s;
    --fall-delay: 8.77s;
  }
  .star:nth-child(27) {
    --star-tail-length: 5.31em;
    --top-offset: 85.07vh;
    --fall-duration: 11.167s;
    --fall-delay: 3.282s;
  }
  .star:nth-child(28) {
    --star-tail-length: 6.66em;
    --top-offset: 2.5vh;
    --fall-duration: 9.436s;
    --fall-delay: 9.298s;
  }
  .star:nth-child(29) {
    --star-tail-length: 6.32em;
    --top-offset: 98.52vh;
    --fall-duration: 9.055s;
    --fall-delay: 8.903s;
  }
  .star:nth-child(30) {
    --star-tail-length: 7.22em;
    --top-offset: 80vh;
    --fall-duration: 7.049s;
    --fall-delay: 9.876s;
  }
  .star:nth-child(31) {
    --star-tail-length: 5.29em;
    --top-offset: 87.21vh;
    --fall-duration: 6.378s;
    --fall-delay: 1.056s;
  }
  .star:nth-child(32) {
    --star-tail-length: 6.48em;
    --top-offset: 77.26vh;
    --fall-duration: 6.224s;
    --fall-delay: 1.64s;
  }
  .star:nth-child(33) {
    --star-tail-length: 5.5em;
    --top-offset: 39.44vh;
    --fall-duration: 9.805s;
    --fall-delay: 2.972s;
  }
  .star:nth-child(34) {
    --star-tail-length: 6.48em;
    --top-offset: 57.21vh;
    --fall-duration: 7.19s;
    --fall-delay: 8.158s;
  }
  .star:nth-child(35) {
    --star-tail-length: 7.22em;
    --top-offset: 83.36vh;
    --fall-duration: 6.372s;
    --fall-delay: 6.809s;
  }
  .star:nth-child(36) {
    --star-tail-length: 6.45em;
    --top-offset: 31.85vh;
    --fall-duration: 11.504s;
    --fall-delay: 8.882s;
  }
  .star:nth-child(37) {
    --star-tail-length: 5.58em;
    --top-offset: 10.57vh;
    --fall-duration: 11.568s;
    --fall-delay: 9.191s;
  }
  .star:nth-child(38) {
    --star-tail-length: 6.22em;
    --top-offset: 2.83vh;
    --fall-duration: 10.179s;
    --fall-delay: 3.176s;
  }
  .star:nth-child(39) {
    --star-tail-length: 6.28em;
    --top-offset: 46.73vh;
    --fall-duration: 6.746s;
    --fall-delay: 9.006s;
  }
  .star:nth-child(40) {
    --star-tail-length: 7.01em;
    --top-offset: 99.76vh;
    --fall-duration: 6.247s;
    --fall-delay: 1.451s;
  }
  .star:nth-child(41) {
    --star-tail-length: 6.57em;
    --top-offset: 62.35vh;
    --fall-duration: 11.522s;
    --fall-delay: 7.952s;
  }
  .star:nth-child(42) {
    --star-tail-length: 7.45em;
    --top-offset: 91.82vh;
    --fall-duration: 8.841s;
    --fall-delay: 8.942s;
  }
  .star:nth-child(43) {
    --star-tail-length: 5.78em;
    --top-offset: 81.16vh;
    --fall-duration: 9.241s;
    --fall-delay: 0.322s;
  }
  .star:nth-child(44) {
    --star-tail-length: 5.36em;
    --top-offset: 37.12vh;
    --fall-duration: 7.069s;
    --fall-delay: 9.282s;
  }
  .star:nth-child(45) {
    --star-tail-length: 6.12em;
    --top-offset: 91.18vh;
    --fall-duration: 11.706s;
    --fall-delay: 3.473s;
  }
  .star:nth-child(46) {
    --star-tail-length: 5.57em;
    --top-offset: 31.44vh;
    --fall-duration: 10.844s;
    --fall-delay: 1.821s;
  }
  .star:nth-child(47) {
    --star-tail-length: 5.91em;
    --top-offset: 96.58vh;
    --fall-duration: 8.031s;
    --fall-delay: 9.328s;
  }
  .star:nth-child(48) {
    --star-tail-length: 6.17em;
    --top-offset: 49.66vh;
    --fall-duration: 6.373s;
    --fall-delay: 5.728s;
  }
  .star:nth-child(49) {
    --star-tail-length: 7.36em;
    --top-offset: 66.59vh;
    --fall-duration: 7.23s;
    --fall-delay: 1.244s;
  }
  .star:nth-child(50) {
    --star-tail-length: 7.15em;
    --top-offset: 24.94vh;
    --fall-duration: 11.199s;
    --fall-delay: 1.205s;
  }
  .star::before, .star::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
  }
  .star::before {
    transform: rotate(45deg);
  }
  .star::after {
    transform: rotate(-45deg);
  }
  
  @keyframes fall {
    to {
      transform: translate3d(-30em, 0, 0);
    }
  }
  @keyframes tail-fade {
    0%, 50% {
      width: var(--star-tail-length);
      opacity: 1;
    }
    70%, 80% {
      width: 0;
      opacity: 0.4;
    }
    100% {
      width: 0;
      opacity: 0;
    }
  }
  @keyframes blink {
    50% {
      opacity: 0.6;
    }
  }



/* ------------------------------------
RoadMapp
--------------------------------------- */
.rdmap{
    
}



/* ------------------------------------
Responsive
--------------------------------------- */
@media (max-width:991px) {
    .navbar-toggler{
        background-color: var(--dark-to-main-color);
        box-shadow: var(--shadow-black-300);
        height: 34px;
        width: 44px;
        padding: 0;
        font-size: 17px;
        color: #ffffff;
    }
    .navbar-nav{
        background-color: var(--dark-to-main-color);
        box-shadow: var(--shadow-black-300);
    }
    .navbar .nav-item{
        margin: 0;
        padding: 5px 15px;
    }
    .navbar.navbar-shrink .navbar-toggler,
    .navbar.navbar-shrink .navbar-nav{
        background-color: var(--main-color);
    }
    .home-img .circle{
        height: 320px;
        width: 320px;
    }
    .home-img .circle::before{
        left: 18px;
        top: 18px;
        transform-origin: 142px 142px;
    }
    .home-text h1{
        font-size: 40px;
    }
    .team-item,
    .pricing-plan, 
    .how-it-works-item, 
    .app-download-item{
        margin-bottom: 30px;
    }
    .how-it-works-item.line-right::before{
        content: none;
    }
    .how-it-works-item{
        box-shadow: var(--shadow-black-100);
        border-radius: 10px
    }
    .footer-col{
        margin-bottom: 30px;
    }
}

@media (max-width:767px){
    .home-btn{
        margin-bottom: 80px;
    }
    .fun-facts-img{
        margin-bottom: 30px;
    }
    .section-title h2{
        font-size: 35px;
    }
    .fun-facts .section-title h2{
        text-align: center;
    }
}


@media (max-width:575px){
    .home-text h1{
        font-size: 30px;
    }
    .home-text p{
        font-size: 16px;
    }
    .section-title h2{
        font-size: 30px;
    }
}

@media (min-width: 768px){
.fun-facts {
    padding: 200px 0 200px;
    transition: all 1s ease-in-out;
    transform: 1s ease-in-out;
}
}

/* ---------------------
intro Animation 
------------------------- */

.hero-image {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
  z-index: 10;
}

.front-img {
	position: absolute;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 100vh;
}